<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
<!--    配置了：spring-mvc、spring监听器，spring过滤器（过滤编码，解决乱码）、加载spring配置文件、分页拦截、都是前期的访问配置-->
    <display-name></display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!--1、spring：引入所有applicationContext开头的配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/spring/applicationContext-*.xml</param-value>
    </context-param>


    <!--2、监听器：spring监听器，监听servletContext状态，在web服务器启动，加载spring配置文件-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!--3、过滤器：spring内置的过滤器，请求或者响应的编码格式，过滤程utf-8-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!--过滤范围，/*指的是所有-->
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--4、mvc：前置控制器，即springmvc对servlet进行拦截分发给目标controller来处理，配置springmvc，内置参数配置springmvc配置文件-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/springmvc.xml</param-value>
        </init-param>
    </servlet>
    <!--映射范围，所有/根目录下的请求都需要根据springmvc配置文件进行来拦截-->
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

<!--  5、分页拦截，每页设置15个拦截-->
    <filter>
        <filter-name>SystemContextFilter</filter-name>
        <filter-class>com.javapandeng.filter.SystemContextFilter</filter-class>
        <init-param>
            <param-name>pageSize</param-name>
            <param-value>15</param-value>
        </init-param>
    </filter>
<!--    对所有的数据拦截-->
    <filter-mapping>
        <filter-name>SystemContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>