<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.stuselectsystem.mapper.CourseInfoMapper">
    <insert id="save" parameterType="com.mandu.stuselectsystem.dto.CourseInfoDto">
        insert into tbl_course_info (courseName,courseCredit,CourseExamMethod)
        VALUES (#{courseName},#{courseCredit},#{courseExamMethod})
    </insert>

    <select id="findByParam" parameterType="com.mandu.stuselectsystem.dto.CourseInfoDto"
            resultType="com.mandu.stuselectsystem.po.CourseInfo" >
        select * from tbl_course_info
        <where>
            <if test="courseName!=null and courseName!=''">
                and courseName like concat('%',#{courseName},'%')
            </if>
            <if test="minCredit !=null and minCredit !=''">
                and courseCredit >= #{minCredit}
            </if>
            <if test="maxCredit !=null and minCredit !=''">
                and courseCredit &lt;= #{maxCredit}
            </if>
            <if test="courseStatus != null and courseStatus !=0">
                and courseStatus = #{courseStatus}
            </if>
            <if test="courseExamMethod!=null and courseExamMethod !=0">
                and courseExamMethod = #{courseExamMethod}
            </if>
        </where>
    </select>
    
    <update id="updateStatus" parameterType="com.mandu.stuselectsystem.dto.CourseInfoDto">
        update tbl_course_info
        set courseStatus =2
        where courseId = #{courseId}
    </update>

    <update id="resetCourseStatus" parameterType="int">
        update tbl_course_info
        set courseStatus =1
        <where>
            courseId IN <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        </where>
    </update>

    <update id="update" parameterType="com.mandu.stuselectsystem.dto.CourseInfoDto">
        update tbl_course_info
        set courseName= #{courseName},courseCredit = #{courseCredit},
            courseExamMethod=#{courseExamMethod},courseStatus=#{courseStatus}
        where courseId =#{courseId}
    </update>
</mapper>