<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mandu.stuselectsystem.mapper.ClassroomMapper">
    <insert id="save" parameterType="com.mandu.stuselectsystem.dto.ClassroomInfoDto" >
        insert into tbl_classroom_info(classroomName,classroomLocation,classroomNumber)
        values (#{classroomName},#{classroomLocation},#{classroomNumber})
    </insert>

    <select id="findByParam" parameterType="com.mandu.stuselectsystem.dto.ClassroomInfoDto"
            resultType="com.mandu.stuselectsystem.po.ClassroomInfo">
        select  * from tbl_classroom_info
    <where>
        <if test="classroomName !=null and classroomName!=''">
            and classroomName like concat('%',#{classroomName},'%')
        </if>
        <if test="classroomLocation !=null and classroomLocation!=''">
            and classroomLocation like concat('%',#{classroomLocation},'%')
        </if>
        <if test="classroomStatus != 0">
            and classroomStatus = #{classroomStatus}
        </if>
        <if test="minNumber != null and minNumber !=''">
            and minNumber >= #{minNumber}
        </if>
        <if test="maxNumber != null and maxNumber !=''">
            and maxNumber &lt;= #{maxNumber}
        </if>
    </where>
    </select>

    <update id="updateStatus" parameterType="com.mandu.stuselectsystem.dto.ClassroomInfoDto">
        update tbl_classroom_info
        set classroomStatus = #{classroomStatus}
        where classroomId = #{classroomId}
    </update>

    <update id="update" parameterType="com.mandu.stuselectsystem.dto.ClassroomInfoDto">
        update tbl_classroom_info
        set classroomStatus = #{classroomStatus},
            classroomName = #{classroomName},
            classroomLocation = #{classroomLocation},
            classroomNumber = #{classroomNumber}
        where classroomId = #{classroomId}
    </update>

    <select id="findAllLocation" resultType="com.mandu.stuselectsystem.po.ClassroomInfo">
        select distinct classroomLocation from tbl_classroom_info
    </select>

    <select id="findByLocation" parameterType="com.mandu.stuselectsystem.dto.ClassroomInfoDto"
            resultType="com.mandu.stuselectsystem.po.ClassroomInfo">
        select
            classroomId,classroomName
        from tbl_classroom_info
        where classroomLocation =#{classId}
            and classroomStatus = 1
    </select>
</mapper>