<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mandu.stuselectsystem.mapper.STCInfoMapper">
   <select id="findByParam" parameterType="map" resultType="map">
       select
            stc.stcId,s.stuName,c.courseName,stc.stcScore
        from
            tbl_stu_info s,tbl_teachcourse_info tc,tb_sekectteachcourse_info stc ,tbl_course_info c
        where s.stuId = stc.stuId and tc.courseId=c.courseId and tc.teaId =#{teaId} and tc.tcId=stc.tcId
        <if test="courseId !=null and courseId !=0">
            and c.courseId = #{courseId}
        </if>
        order by stc.stcId
   </select>
    <update id="updateScore" parameterType="map">
        update tb_sekectteachcourse_info set stcScore = #{stcScore}
        where stcId = #{stcId}
    </update>
    
    <select id="findUnSelectedCourse" parameterType="map" resultType="map">
        select
            tc.tcId,tea.teaName,c.courseName,c.courseCredit,c.courseExamMethod,r.classroomLocation,r.classroomName
        from tbl_tea_info tea,tbl_course_info c,tbl_teachcourse_info tc,tbl_classroom_info r
        where tea.teaId = tc.teaId and c.courseId = tc.courseId and tc.classroomId = r.classroomId
          and tc.tcId not in
              (select stc.tcId
               from tb_sekectteachcourse_info stc,tbl_stu_info stu
               where stc.stuId = stu.stuId AND stu.stuId =#{stuId}
              )
        <if test="teaName !=null and teaName!=''">
            and tea.teaName like concat('%',#{teaName},'%')
        </if>
        <if test="courseName !=null and courseName!=''">
            and c.courseName like concat('%',#{courseName},'%')
        </if>
    </select>

    <insert id="save" parameterType="map">
        insert into tb_sekectteachcourse_info(stuId,tcId)
        values(#{stuId},#{tcId})
    </insert>

    <select id="findSelectedCourse" parameterType="map" resultType="map">
        select
            st.stcId,tea.teaName,c.courseName,c.courseCredit,c.CourseExamMethod,r.classroomLocation,st.stcScore
        from tbl_tea_info tea,tbl_course_info c,tbl_teachcourse_info tc,tbl_classroom_info r,tb_sekectteachcourse_info st
        where tea.teaId = tc.teaId and c.courseId = tc.courseId and st.tcId = tc.tcId and tc.classroomId = r.classroomId and stuId =#{stuId}
            <if test="teaName !=null and teaName!=''">
                and tea.teaName like concat('%',#{teaName},'%')
            </if>
            <if test="courseName !=null and courseName!=''">
                and c.courseName like concat('%',#{courseName},'%')
            </if>
        order by st.stcId
    </select>

    <delete id="delete" parameterType="map">
        delete from tb_sekectteachcourse_info
        where stcId = #{stcId}
    </delete>
</mapper>